body {
  background-color: oldlace;
}
/* 
Card {
  justify-content: center;
  color: springgreen;
} */
paper {
  color: rgba(0, 0, 0, 0.54);
  padding: 120px;
  text-align: center;
}
.grid {
  display: block;
 position: absolute; 
  /* top: 80%; */
  padding-left: 50px; 
  padding-right: 50px;
  padding-top: 420px;
}
